In [1]:
import pandas as pd

In [3]:
df= pd.read_csv(r"C:\Users\Admin\Desktop\Pandas\weather.csv")

In [4]:
df

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          33          7   Snow
2  1/3/2017          36          3  Sunny
3  1/4/2017          43          6   Rain
4  1/5/2017          38          7   Snow
5  1/6/2017          41          8  Sunny